
@keyframes falseAnim {
    0%{
        background-color: #6E2083;
    }
    50%{
        background-color: red;
    }100%{
        background-color: #6E2083;
    }
}

@keyframes trueAnim {
    0%{
        background-color: #6E2083;
    }
    50%{
        background-color: green;
    }100%{
        background-color: #6E2083;
    }
}

.false-anim{
    animation: falseAnim .5s;
}

.true-anim{
    animation: trueAnim .5s;
}

.clip-reversed-trapezium {
    clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%);
}